<section class="hero-section" id="hero">
  <div class="blob-wrapper">
    <div class="blob-1"></div>
    <div class="blob-2"></div>
  </div>
  
  <div class="content-wrapper">
    <p class="subtitle hero-elem">August 2022 — Present</p>
    <h1 class="title hero-elem gradient-text">Senior Software Engineer</h1>
    
    <h2 class="company hero-elem">Ernst & Young Global Delivery Services</h2>
    <p class="description hero-elem">
      Crafting premium, highly interactive digital experiences using Angular, Spring Boot, GCP BigQuery, .NET, and Airflow DAGs. Look around to see my journey.
    </p>

    <div class="cta-wrapper hero-elem">
      <a href="#experience" class="cta-button">Explore Experience</a>
    </div>
  </div>
</section>
